body { 
   height: 100%; 
   position: absolute 
}

.container {
   width: 100%;
   padding-left: 0;
   padding-right: 0;
   margin: 0 0;
}


.modelos--acessar {
   color: black;
   padding-right: 10px;
   padding-left: 10px;
   text-decoration: none;
}

.modelos--acessar:hover{
   color: red;
   
   border: 1px solid aqua;
   border-radius: 50%;

   background-color: aqua;
}
.imagem {

   background:url(‘img/todos-teslas.png’);
}
.texto > p{
   display: inline;
   font-size: 60px;
   font-family: 'Times New Roman';
   color:#fff;
   text-align:right;
   position: absolute;
   top: 150px;
   width: 800px;
   line-height: 70px;
   height: 100px;

}